<div class="upper" style="height:100% important">
  <section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="inner">
        <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-sm-9 col-md-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style=" width:78%;height:100%;" />
            </div>
            <div class="col-xl">
              <div class="card-body p-md-5 text-black" >
                <span class="login100-form-title p-b-43" style="margin-bottom:5px;padding-left:15%;">
                  <img src="./assets/img/auszogo.png" alt="" class="img-responsive alert-logo" />
              </span>
                
                  <div class="form-outline mb-4" style="margin-top:5%;">
                    <!-- <input type="text" name="EmployeeCode" [(ngModel)]="EmployeeCode" placeholder="Enter Code" class="form-control form-control-lg" required />                    
                    <span style="font-size: large;"><label class="status-label" style="margin-top: 15px;">{{'Employee Code'}}</label>
                  </span>
                  <div style="margin-top:10% ;">
                      <p style="font-size: large;">{{data}}</p>
                  </div> -->
                  <div class="loginForm  wow bounceInDown " data-wow-duration="1s" style="background-color:whitesmoke;"></div>
                  <div class="form-group mb-3 mt-5">
                      <label for="username" style="font-size:17px;font-family:Arial, Helvetica, sans-serif;color:#000000;font-weight:normal;">Employee Code</label>
                      <div class="input-group wow bounceInDown" data-wow-duration="2s" >
                          <input  type="text" name="EmployeeCode" [(ngModel)]="EmployeeCode" class="form-control" required style="background-color:white;color:black;height: 52px;" placeholder="Employee Code">
                         <span  class="ee">
                              <span class="input-group-text bi bi-person-fill text-white change-color" style="width: 50px;">
                                 <span class="material-icons" style="padding-right: 10px;margin-left:2px;color:white;">person</span>
                              </span>
                          </span>
      
                        </div>
                        <!-- <div ngClass=" wow fadeInDown" [ngStyle]="{'padding-left' : '25px', 'padding-top': '5px', 'color' : 'rgb(94,99,173)','font-size':'Larger'}">
                          The login field is required.
                        </div> -->
                  </div>
  
                  
                  </div>
                  <div class="d-flex justify-content-center pt-3" style="text-align: center;">
                     <!-- <button class="btn btn-success w3-btn" style="margin:5px ;height:50px;width:30%;font-size: larger;border-radius:25px;" [disabled]="((s == 6) || (s == 7))? false:true" (click)="checkinemployees();">CHECK IN</button>&nbsp;
                    <button class="btn btn-warning w3-btn" style="margin:5px ;height:50px;width:35%;font-size: larger;border-radius:25px;" [disabled]="((s == 6) || (s == 7))? false:true" (click)="checkoutemployees();">CHECK OUT</button>&nbsp;  -->
                    <button class="btn btn-success w3-btn" style="margin:5px ;height:50px;width:30%;font-size: larger;border-radius:25px;" [disabled]="((s == 6) || (s == 7))? false:true" (click)="checkinemployees();">CHECK IN</button>&nbsp;
                    <button class="btn btn-warning w3-btn" style="margin:5px ;height:50px;width:35%;font-size: larger;border-radius:25px;" [disabled]="((s == 6) || (s == 7))? false:true" (click)="checkoutemployees();">CHECK OUT</button>&nbsp; 
                  </div>
                  <!-- <div class="d-flex justify-content-center pt-3" style="margin-top: 10%;text-align: center;">
                   <a [routerLink]="['/login']">Login?</a>
                  </div> -->
               <!-- <div style="text-align: center;" [hidden]="emp">
                <br>
                <button class="btn btn-info w3-btn" style="margin:5px ;height:45px;width:30%;font-size: larger;" [disabled]="((s == 6) || (s == 7))? false:true" (click)="weekdays();">Week Days</button>
               </div> -->
                 
               
              </div>
              <!-- <div class="container-login100-form-btn mrttop30">
                <button type="submit" class="login100-form-btn" style="margin-top:20px;">Login</button>
            </div> -->
              <!-- <div class="footerlink"><a [routerLink]="['/login']">login</a></div> -->
            </div>
          </div>
        </div>
      </div></div>
    </div>
  </div> 
 </section></div>

 