<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" [opened]="true" style="background-color: #100C08;" >
    <app-sidenav></app-sidenav>
  </mat-drawer> 
 <mat-drawer-content>

  <div class="abc card">
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <p class="text-center h4 fw-bold mb-5 mx-1 mx-md-4 mt-4">Employee Info</p>
            <form class="px-md-2"   [formGroup]="employeeForm" (ngSubmit)="onsubmit(employeeForm.value)">
              <div class="row">
                <div>
                    <label style="margin-left:2%;color:grey">Site list</label> 
                      <select class="form-select" aria-label="Default select example" placeholder = "Name"
                      style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                       formControlName="SiteId" [(ngModel)]="this.Employeemodel.SiteId" >
                        <option *ngFor="let option of Sitelist" [value]="option.siteId" 
                        [selected]="SiteName === option.siteName">{{ option.siteName }}</option>
                      </select> 
                  </div> 
                <div class="mt-2">
                  <div class="form-floating">
                    <input type="text" formControlName="FirstName"
                     [(ngModel)]="this.Employeemodel.FirstName" id="form3Example97"
                      class="form-control" 
                      style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;" required/>
                    <label class="form-label" for="form3Example97">FirstName</label> 
                 </div>
                </div>
              </div>
                <div class="form-floating mt-2">
                  <div class="form-floating">
                     <input type="text" formControlName="LastName"
                      [(ngModel)]="this.Employeemodel.LastName" id="form3Example97" 
                      style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                      class="form-control" required/>
                     <label>LastName</label> 
                  </div>
                </div>
                <div class="mt-2">
                 <label style="margin-left:2%;color:grey">Gender</label>

                    <select class="form-select" aria-label="Default select example" placeholder = "Name"
                    style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                     formControlName="DepartmentName" [(ngModel)]="this.Employeemodel.Gender" >
                     <option *ngFor="let option of GenderList" [value]="option.value" 
                     [selected]="Gender === option.value">{{ option.value }}</option>
                    </select> 
                </div>

                <div>
                  <div class="form-floating">
                     <input type="email" formControlName="Email"
                      [(ngModel)]="this.Employeemodel.Email" id="exampleInputEmail1"
                      style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                      class="form-control" required/>
                      <label>Email</label> 
                  </div>
                </div>
                <div>
                  <div class="form-floating">
                    <input type="tel" formControlName="ContactNumber" 
                    [(ngModel)]="this.Employeemodel.ContactNumber" id="form3Example97" 
                    style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                    class="form-control" required/>
                    <label class="form-label" for="form3Example97">Contact Number</label> 
                 </div>
                </div>

                <div class="mt-2">
                  <div class="form-floating">
                    <input type="text" formControlName="City" 
                    [(ngModel)]="this.Employeemodel.City" id="exampleInputEmail1" 
                    style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                    class="form-control" required/>
                    <label class="form-label" for="exampleInputEmail1">City</label> 
                 </div>
                  
                </div>
                <div class="mt-2">
                  <div class="form-floating">
                    <input type="date" formControlName="DateOfBirth"
                     [(ngModel)]="this.Employeemodel.DateOfBirth" id="form3Example97" 
                     style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                     class="form-control" required/>
                    <label class="form-label" for="form3Example97">Date of Birth</label> 
                 </div>
                </div>


                  <div class="mt-2">
                <div class="form-floating">
                  <label style="color: grey;">Address</label>
                  <textarea [(ngModel)]="this.Employeemodel.Addresses"
                  style="border:none; box-shadow: none; border-radius:0px ; 
                   border-bottom: 1px solid #ccc;"
                  formControlName="Addresses" rows="4" ></textarea>
                </div>
              </div>
                <div class="mt-2">
                  <div class="form-floating">
                    <input type="text" formControlName="EmployeeCode"
                     [(ngModel)]="this.Employeemodel.EmployeeCode" 
                     style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                     id="exampleInputEmail1" class="form-control" required/>
                    <label class="form-label" for="exampleInputEmail1">Registration Code</label> 
                 </div>
                </div>
 
              <div class="mt-2">
                <div class="form-floating">
                  <input type="time" formControlName="StartTime" 
                  [(ngModel)]="this.Employeemodel.StartTime" id="exampleInputEmail1" 
                  style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                  class="form-control" required [(ngModel)]="StartTime"  ngbTimepicker
                  (ngModelChange)="this.Employeemodel.StartTime = $event"/>
                       <label class="form-label" for="form3Example97">Start Time</label>
                </div>
                <div class="mt-2">
                  <div class="form-floating">
                    <input type="number" formControlName="WorkingHours" 
                    [(ngModel)]="this.Employeemodel.WorkingHours" 
                    style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                    id="exampleInputEmail1" min="1" max="9" class="form-control" required/>
                    <label class="form-label" for="exampleInputEmail1">Working Hours</label> 
                 </div>
                </div>
              </div>
              <div class="Button mt-4">
              <div class="card-footer">
              <button type="submit" *ngIf="buttonvalue != 0" class="btn btn-success btn-lg mb-1">Update Employee</button>
              <button type="submit" *ngIf="buttonvalue == 0" style="height:50px;font-size: larger;" class="btn btn-success">Add Employee</button>
              <button type="reset" style="margin:5px ;height:50px;width:80px;font-size: larger;" class="btn btn-warning" (click)="reset()">Reset</button>
          </div>
          </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
  </mat-drawer-content>
  </mat-drawer-container>
