<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" [opened]="true" style="background-color: #100C08;">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>

    <div class="container" style="background-color: #fdfdfd00;">
      <div class="row">
        <section class="vh-10">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-9 col-lg-7 col-xl-5" style="width: 100%;">
                <div class="d-flex justify-content-between">
                  <div class="card" style="border-radius: 15px; background-color: #50C878; width: 20%;"
                    (click)="Navigate('Present')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/Present.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Present}}</h3>
                          <p class="mb-2 pb-1">PRESENT</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: #FFDF00; width: 20%;"
                    (click)="Navigate('Late')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/lates (1).png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Late}}</h3>
                          <p class="mb-2 pb-1">LATE</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: red; width: 20%;"
                    (click)="List('Absent')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/4993059.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Absent}}</h3>
                          <p class="mb-2 pb-1">ABSENT</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: #0a2641; width: 20%;"
                    (click)="List('Leave')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/Alibhai.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Leave}}</h3>
                          <p class="mb-2 pb-1">LEAVE</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="d-flex justify-content-center gap-4 mt-4">
                  <!-- <div class="card" style="border-radius: 15px; background-color: #0a2641; width: 20%;"
                  [routerLink]="['/userlist']">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/Alibhai.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Requestsnumber}}</h3>
                          <p class="mb-2 pb-1">Leave Requests</p>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="card" style="border-radius: 15px; background-color: #50C878; width: 20%;"
                  [routerLink]="['/userloanlist']">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                            <mat-icon aria-hidden="false" style="width: 70px; border-radius: 10px;font-size:70px;" aria-label="Example person icon">attach_money</mat-icon>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{loanRequests}}</h3>
                          <p class="mb-2 pb-1">Loan Requests</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <br>

                <div class="d-flex justify-content-around  mt-4">
                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <fusioncharts width="500" height="400" [type]="type" [dataFormat]="dataFormat"
                      [dataSource]="dataSource">
                    </fusioncharts>
                  </div>

                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <fusioncharts width="400" height="400" [type]="Charttype" [dataFormat]="dataFormat"
                      [dataSource]="GuagedataSource">
                    </fusioncharts>
                  </div>
                </div>

                <div class="d-flex justify-content-around  mt-4">

                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <fusioncharts width="600" height="400" [type]="Charttypes" [dataFormat]="dataFormat"
                      [dataSource]="StackedSource">
                    </fusioncharts>
                  </div>
                </div>

                <div class="d-flex justify-content-around  mt-4">

                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <fusioncharts width="600" height="400" [type]="LineChartName" [dataFormat]="dataFormat"
                      [dataSource]="LineSource">
                    </fusioncharts>
                  </div>

                </div>

                <div class="d-flex justify-content-around  mt-4">
                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <div class="card" style="font-size:larger;">
                      <div>
                        <ngx-datatable class="bootstrap" [limit]="20" [rows]="tableDataYearly" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto">  
                        <ngx-datatable-column name="Employee Name" prop="employeeName" >
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row?.firstName}}
                          </ng-template>
                      </ngx-datatable-column>
                        <ngx-datatable-column name="Current Month Data" prop="checkInTime">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" [style.width.%]="(row.absent / total) * 100">
                                    {{ row?.absent }}
                                  </div>
                                  <div class="progress-bar progress-bar-warning" role="progressbar" [style.width.%]="(row.late / total) * 100">
                                    {{ row?.late }}
                                  </div>
                                  <div class="progress-bar progress-bar-info" role="progressbar" [style.width.%]="(row.leave / total) * 100">
                                    {{ row?.leave }}
                                  </div>
                                  <div class="progress-bar progress-bar-success" 
                                  role="progressbar" 
                                  [style.width.%]="(row.present / total) * 100"
                                  ngbTooltip="Present: {{ row?.present }}%">
                                    {{ row?.present }}
                                  </div>
                                </div>

                            </ng-template>
                        </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div> 
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>