<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" [opened]="true" style="background-color: #263238">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>

    <div class="container" style="background-color: #fdfdfd00;">
      <div class="row">

        <section class="vh-10">
          <div class="container py-5 h-100">
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn-success p-3 btnhover" style="border: none; border-radius:9px;" [routerLink]="['/userlist']">
                leave requests {{Requestsnumber}}
              </button>
            </div>

            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-9 col-lg-7 col-xl-5" style="width: 100%;">
                <div class="d-flex justify-content-between">
                  <div class="card" style="border-radius: 15px; background-color: #50C878; width: 20%;"
                    (click)="Navigate('Present')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/Present.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Present}}</h3>
                          <p class="mb-2 pb-1">PRESENT</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: #FFDF00; width: 20%;"
                  (click)="Navigate('Late')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/lates (1).png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Late}}</h3>
                          <p class="mb-2 pb-1">LATE</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: red; width: 20%;"
                  (click)="List('Absent')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/4993059.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Absent}}</h3>
                          <p class="mb-2 pb-1">ABSENT</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="border-radius: 15px; background-color: #0a2641; width: 20%;"
                  (click)="List('Leave')">
                    <div class="card-body p-4">
                      <div class="d-flex text-white">
                        <div class="flex-shrink-0">
                          <img src="./assets/img/Alibhai.png" alt="Generic placeholder image" class="img-fluid"
                            style="width: 70px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3 class="mb-1">{{Leave}}</h3>
                          <p class="mb-2 pb-1">LEAVE</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <br>

                <div class="d-flex justify-content-around  mt-4">
                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                  <fusioncharts width="500" height="400" [type]="type" [dataFormat]="dataFormat"
                    [dataSource]="dataSource">
                  </fusioncharts>
                  </div>

                  <div class="card p-2" style="background-color: white;border-radius: 15px;">
                    <fusioncharts width="400" height="400" [type]="Charttype" [dataFormat]="dataFormat"
                      [dataSource]="GuagedataSource">
                    </fusioncharts>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>