.Button{
    text-align: center;
} 
.abc{
    background-color: #8fc4b7;
}
.logo{
    text-align: center;
    padding: 2.6rem 1rem;
    
}
mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

mat-divider{
    border-top-width: 2px;
    border-color: white;
}

mat-list-item{
    color:white;
    font-size: 0.8rem;
    height:44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin:0 8px;
}

mat-subheader{
    color:white;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.abc{
    text-align: center;
   color:white;
}
.side{
      transition: all .5s ease;
      box-shadow: 0.63rem 0 1.25rem 0 #8690a3;
}

.Button{
    text-align: center;
} 
.abc :hover{
    color: black;
    background-color: black;  
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    height:100%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
  
#mySidenav a:hover {
    left: 0;
}

#about {
    width: 500px;
    background-color: #04AA6D;
}

.button {
    border-radius: 25px;
    width:158px;
    height: 45px;
    font-size: large;
    margin-left: 35px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    margin: 5px;
}

.button:hover
{
    background-color: red;
} 

.buttons {
    border-radius: 25px;
    width:160px;
    height: 45px;
    font-size: large;
    background-color: rgba(145,40,141,1);
    color: white;
    border: none;
    text-align: center;
    margin: 5px;
}

.buttons:hover
{
    background-color: whitesmoke;
    color: rgba(145,40,141,1);
} 

.fa_cart-header2{
    background-color: #3c3c3b;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-bottom: 25px;
    padding:15px 25px 10px 25px !important;
}


.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mrttop30{
    margin-top: 30px;
}


.mrttop40{
    margin-top: 40px;
}

.mrttop10{
    margin-top: 10px;
}

.mrttop25{
    margin-top: 25px;
}

.mrttop20{
    margin-top: 20px;
}

.login100-form-btn {
    align-items: center;
    padding: 0 60px;
    height: 46px;
    border: none;
    border-radius: 25px;
    background: #fff;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: rgba(145,40,141,1);
   /* background: linear-gradient(25deg, rgba(94,99,173,1) 0%, rgba(145,40,141,1) 70%); */
}

.login100-form-btn:hover{
    background-color: whitesmoke;
    color: rgba(145,40,141,1);  
}