.logo{
    text-align: center;
    padding: 2.6rem 1rem;
    
}
mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

/* .responsive{
    max-width: 200px;
} */

.mat-list-item-content{
  padding: none;
}

.mat-list-item:hover{
  background: linear-gradient(90deg, rgba(234,21,26,1) -20%, rgba(255,104,40,1) 68%)
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


mat-list-item{
    color:white;
    height:44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    /* margin:0 8px; */
}


.sidenav{
  transition: all .5s ease;
}

.Button{
    text-align: center;
} 
  
  /* width */
::-webkit-scrollbar {
    width: 2px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background:#eee;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee;
}


  