

<div class="sidenav">
    <mat-nav-list>
      <div class="justify-content-center" style="margin-top: 10%;">
        <img src="./assets/img/logoAusztech.png" class="center" alt="" [ngStyle]="{'width':width}" />
      </div>
      <div class="p-2" style="font-size:12px;line-height:20px">
  
        <a mat-list-item routerLink="/Empdashboard" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
          <span class="menu-size-control" >Dashboard</span>
        </a>
  
        <!-- <a mat-list-item routerLink="/reqLeave" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">time_to_leave</mat-icon>
            <span class="menu-size-control" >Request Leave</span>
          </a>   -->

          <a mat-list-item routerLink="/empleavelist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">time_to_leave</mat-icon>
            <span class="menu-size-control" >Leave Management</span>
          </a>  

          <!-- <a mat-list-item routerLink="/empleavelist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">list</mat-icon>
            <span class="menu-size-control" >Leave List</span>
          </a>   -->

          <!-- <a mat-list-item routerLink="/loanrequest/0" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">attach_money</mat-icon>
            <span class="menu-size-control" >Request Loan</span>
          </a>   -->

          <a mat-list-item routerLink="/empLoanlist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">attach_money</mat-icon>
            <span class="menu-size-control" >Loan Management</span>
          </a>  

          <!-- <a mat-list-item routerLink="/empLoanlist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">list</mat-icon>
            <span class="menu-size-control" >Loan List</span>
          </a>  -->

          <a mat-list-item routerLink="/emptasklist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
            <mat-icon aria-hidden="false" aria-label="Example person icon">task</mat-icon>
            <span class="menu-size-control" >Task Management</span>
          </a> 
  
        <a mat-list-item routerLink="" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example person icon">exit_to_app</mat-icon>
          <span class="menu-size-control">Logout</span>
        </a>
  
      </div>
    </mat-nav-list>
  </div>
  