

<div class="sidenav" style="overflow-y: hidden;">
    <mat-nav-list>
      <div style="margin-top: 20%;">
        <img src="./assets/img/logoAusztech.png" alt="" class="img-responsive alert-logo" style="margin-left: 25px;" [ngStyle]="{'width':width}" />
      </div>
      <div class="scroller p-2" style="font-size:100px;font-weight: 500;">
  
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
          <span class="menu-size-control">Dashboard</span>
        </a>
  
        <a mat-list-item routerLink="/attendencelist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example person icon">person</mat-icon>
          <span class="menu-size-control">Attendance</span>
        </a>
  
        <a mat-list-item routerLink="/user-analytics" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example person icon">flight_takeoff</mat-icon>
          <span class="menu-size-control">Leave</span>
        </a>
  
        <a mat-list-item routerLink="/list" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example list icon">person</mat-icon>
          <span class="menu-size-control">Employee</span>
        </a>


        <a mat-list-item routerLink="/loanlist" style="color: whitesmoke; margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example person icon">attach_money</mat-icon>
          <span class="menu-size-control">Loan</span>
        </a>

        <a mat-list-item routerLink="/officeholiday" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example list icon">event</mat-icon>
          <span class="menu-size-control" >Office</span> 
        </a>

        <a mat-list-item routerLink="/tasklist" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example list icon">task</mat-icon>
          <span class='material-icons-outlined'>Task</span>
        </a>

        <a mat-list-item routerLink="" routerLinkActive="list-item-active" style="color: whitesmoke;margin-bottom: 3%;">
          <mat-icon aria-hidden="false" aria-label="Example person icon">exit_to_app</mat-icon>
          <span class="menu-size-control">Logout</span>
        </a>
  
      </div>
    </mat-nav-list>
  </div>
  