.logo{
    text-align: center;
    padding: 2.6rem 1rem;
    
}
mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

mat-list-item{
    color:white;
    font-size: 0.8rem;
    height:44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin:0 8px;
}
.list-item {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.mat-list-item:hover{
  background: linear-gradient(90deg, rgba(234,21,26,1) -20%, rgba(255,104,40,1) 68%)
}


.list-item mat-icon {
    margin-right: 5px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.sidenav{
  transition: all .5s ease;
}

.scroller {
    width: 90%;
    height: 400px;
    overflow-y: scroll;
}
  
::-webkit-scrollbar {
    width: 2px;
}

@media (min-width: 1700px) {
  .scroller {
    width: 85%;
    height: 500px;
  }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .scroller {
      width: 85%;
      height: 500px;
    }
}

@media (max-width: 1600px) and (min-width: 1370px) {
.scroller {
    width: 100%; /* Increase margin-right for larger screens */
}
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .mat-drawer {
    width: 17%; /* Increase margin-right for larger screens */
  }
}


  