<mat-drawer-container>
    <mat-drawer mode="side" [opened]="true" style="background-color: #100C08;">
         <app-sidenav></app-sidenav> 
    </mat-drawer>
    <mat-drawer-content>

    <div>
      <div class="mt-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-6" style="text-align: left;"> 
            <h4 class="fa_managementheading" style="font-weight: 600;font-size:25px">
              <strong>Employee Management</strong>
            </h4>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3" style="text-align:right;width:50%;"> 
              <button class="_fa_log-accident pull-right ng-star-inserted" style="padding:10px 30px;" 
              [routerLink]="['/addemployee/:0']">
              <i class="glyphicon glyphicon-plus" style="padding-right:10px;">
              </i>
              Add Employee
              </button>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="p-3">
      <div class="row mt-4">
        <div class="col-xs-12 col-sm-3 col-md-3 singlSelect fa_actions-select">
          <div class="form-floating">
            <select class="form-select" aria-label="Default select example" placeholder = "Name"
            style="border:1px solid #100C08;box-shadow: none; border-radius:10px ;  border-bottom: 1px solid #100C08;"   
            [(ngModel)]="this.model.SiteId" >
            <option selected disabled [value]="1">select site</option>
              <option *ngFor="let option of Sitelist"
              [value]="option.siteId">{{ option.siteName }}</option>
            </select> 
            <label>Site</label>
          </div>
        </div>
  
         <div class="col-xs-12 col-sm-3 col-md-3 fa_mrgbtm20 singlSelect">
          <div class="form-floating">
              <input type="text" class="form-control" [(ngModel)]="this.model.Employee_Name"
              style="border: 1px solid #100C08;box-shadow: none; border-radius:10px ;  border-bottom: 1px solid #100C08;" id="floatingInput" placeholder="@">
              <label>Employee</label>
            </div>
        </div> 
  
  
      </div>

      <div class="row mt-4">

        <div class="col-xs-12 col-sm-3 col-md-3 fa_mrgbtm20 singlSelect">
          <div class="form-floating">
              <input type="date" class="form-control" [(ngModel)]="this.model.FromDate"
              style="border: 1px solid #100C08;box-shadow: none; border-radius:10px ;  border-bottom: 1px solid #100C08;" id="floatingInput" placeholder="@">
              <label>From Date</label>
            </div>
        </div> 
  
        <div class="col-xs-12 col-sm-3 col-md-3 singlSelect fa_actions-select">
          <div class="form-floating">
            <input type="date" class="form-control" [(ngModel)]="this.model.ToDate"
            style="border:1px solid #100C08;box-shadow: none; border-radius:10px ;  border-bottom: 1px solid #100C08;" id="floatingInput" placeholder="@">
            <label >ToDate</label>
          </div>
        </div>
  
      </div>
      

      <div class="row mt-4" style="text-align: right;">
        <div class="col-xs-12 col-sm-3 col-md-3 singlSelect fa_actions-select" style="width: 95%;">

        <button type="submit" class="button"
        style="border:none;background:none; font-weight: 600; font-size: 17px;
         margin-right:20px; padding-top:15px;" (click)="clearfilter()">Clear Filter</button>
            <button type="submit" class=" login100-form-btn" style="padding:12px 30px;"
            (click)="filter()">Search</button>
            <button type="submit" class=" login100-form-btn" style="padding:12px 30px;" (click)="export()">
              <i class="fa fa-download" style="padding-right: 10px;"></i>
              Export</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="card" style="font-size: larger; margin: 10px 10px;">
          <div>
              <ngx-datatable class="bootstrap" [limit]="20" [rows]="allemployees" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"> 
                  <ngx-datatable-column hidden="side" [width]="105" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" style="font-size: larger;">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div style="text-align: center;display: inline-flex;">

                  <button type="button" class="btn btn-outline-danger" (click)="delete(row)" style="border: 0px;font-size: 8px;" matTooltip="DELETE"
                  matTooltipPosition="below"><i class="material-icons">delete</i><br></button>
                  <button type="button" (click)="update(row)" class="btn crud-icon-add btn-outline-success" matTooltip="UPDATE">
                    <span class="fa fa-edit ml-1 font-size-large" style="font-size: larger;"></span>
                </button>
                </div>
               
                </ng-template>
                </ngx-datatable-column>  
                <ngx-datatable-column name="Email" [flexGrow]="3" prop="email">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.email}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="FirstName" prop="firstName" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.firstName}}
                </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="SiteName" prop="siteName">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row?.siteName}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="FullDayLeaves" prop="fullDayLeaves">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.fullDayLeaves}}
                </ng-template>  
            </ngx-datatable-column>
              <ngx-datatable-column name="HalfDayLeaves" prop="halfDayLeaves">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row?.halfDayLeaves}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="activeBit">
                <ng-template let-row="row" ngx-datatable-cell-template>
                   <span *ngIf="row.activeBit==1" style="color:green">Active</span>
                   <span *ngIf="row.activeBit==0" style="color:red"> InActive</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Present/Absent" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 <span *ngIf="row.status=='Absent'" style="color:red">{{row?.status}}</span>
                 <span *ngIf="row.status=='Present'" style="color:green">Present</span>
                 <span *ngIf="row.status==''" style="color:green">Present</span>
                 <span *ngIf="row.status=='Leave'" style="color:rgba(145,40,141,1)">Leave</span>
              </ng-template>
          </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div> 
      </div>
    </div>

    </mat-drawer-content>
    </mat-drawer-container>