mat-drawer{
    width: 200px;
    background: #0f172a;
}

mat-drawer-container{
    height: 100%;
}

.status-label {
    color:  #2C474D;
    text-align: left;
    font-weight: bold !important;
    font-size: 12px !important;
}

.form-group-default-height-filter {
    padding-top: 10px !important;
    /* border: 1px solid #3ABDAA !important; */
    border-radius: 6px !important;
}

.form-group-default{
    border:1px solid #2C474D !important;
    border-radius: 6px !important;
}
.crud-icon-add-plus {
    color: white !important;
    background-color: rgba(145,40,141,1) !important;
}

.header{
    text-align: center;
}
.crud-icon-add-plus:hover {
    color: rgba(145,40,141,1) !important;
    background-color: white !important;
}

.breadcrumb {
    border-bottom: none !important;
    padding: 15px 0px 5px 10px !important;
    /* background: #fff !important; */
}

.breadcrumb>.breadcrumb-item+.breadcrumb-item:before {
    content: "|" !important;
}
.breadcrumb .breadcrumb-item {
    padding-top: 6px !important;
    content: var("|");
}


.form-group-default-border-filter {
    /* border: 1px solid #3ABDAA !important; */
    border-radius: 6px !important;
}


.crud-icon {
    font-size: 16px !important;
    padding: 7px 8px !important;
    cursor: pointer;
    font-weight: bold !important;
}


.crud-icon-add {
    color: #3ABDAA !important;
}

.btn-datatable {
    border: none !important;
    background: transparent !important;
}
.ee{
    position: absolute;
    left: 0px;
    z-index: 999;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.9rem 0.75rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #0a2641;
    border: 1px solid #0a2641;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 25px 0px 0px 25px;
}

/* input:focus ~ span.ee .input-group-text {
    border-left:1px solid #FF0000 !important;
    border-top:1px solid #FF0000 !important;
    border-bottom:1px solid #FF0000 !important;

} */
.input-group input {
    border-radius: 25px !important;
    padding: 10.5px 60px;
    height: 46px;
}

.loginForm{
    background: #fff;
    border-radius: 25px;
}

input:focus ~ span.ee .change-color {
    color: #FF0000 !important;
}

    




.ee{
    position: absolute;
    left: 0px;
    z-index: 999;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.9rem 0.75rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #0a2641;
    border: 1px solid #0a2641;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 25px 0px 0px 25px;
}

/* input:focus ~ span.ee .input-group-text {
    border-left:1px solid #FF0000 !important;
    border-top:1px solid #FF0000 !important;
    border-bottom:1px solid #FF0000 !important;

} */
.input-group input {
    border-radius: 25px !important;
    padding: 10.5px 60px;
    height: 46px;
}

.loginForm{
    background: #fff;
    border-radius: 25px;
}

input:focus ~ span.ee .change-color {
    color: #FF0000 !important;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mrttop30{
    margin-top: 30px;
}


.mrttop40{
    margin-top: 40px;
}

.mrttop10{
    margin-top: 3px;
}

.mrttop25{
    margin-top: 25px;
}

.mrttop20{
    margin-top: 20px;
}



.login100-form-btn {
    align-items: center;
    padding: 0 30px;
    height: 46px;
    border: none;
    border-radius: 25px;
    background: #fff;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: rgb(94,99,173);
background: linear-gradient(25deg, rgba(94,99,173,1) 0%, rgba(145,40,141,1) 70%);
}

.login100-form-btn:hover{
    background:#0a2641 ;
}
