.mat-drawer{
    position: fixed;
}

@media (min-width: 1600px) {
    .mat-drawer {
      width: 13%; /* Increase margin-right for larger screens */
    }
}
  
@media (max-width: 1600px) and (min-width: 1300px) {
.mat-drawer {
      width: 16%; /* Increase margin-right for larger screens */
}
}
  
@media (max-width: 1300px) and (min-width: 1000px) {
    .mat-drawer {
      width: 17%; /* Increase margin-right for larger screens */
    }
}

.card{
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.4);
}

.crud-icon-add {
    color: #3ABDAA !important;
}

.btn-datatable {
    border: none !important;
    background: transparent !important;
}

.login100-form-btn {
    padding: 0 18px;
    margin-left: 20px;
    height: 46px;
    border: none;
    border-radius: 25px;
    background: #fff;
    font-size: 20px;
    color: #fff;
    background: rgb(94,99,173);
    background: linear-gradient(25deg, rgba(94,99,173,1) 0%, rgba(145,40,141,1) 70%);
}

.login100-form-btn:hover{
    background:#0a2641 ;
}

.breadcrumb>li+li:before
{
    content: none;
}

.breadcrumb{
    padding: none;
}
li{
    margin: 0 0 0 0;
}

.form-floating
{
    margin-left: 0;
    width: 250px;
}