<mat-drawer-container>
    <mat-drawer mode="side" [opened]="true" style="background-color: #263238">
         <app-sidenav></app-sidenav> 
    </mat-drawer>
    <mat-drawer-content>

             <div class="row mt-4" style="text-align: center; border:none;margin-left:auto;">

              <div class="col-lg-3 col-md-3">
                <select class="form-select" aria-label="Default select example" placeholder = "Name"
                style="height: 55px;border-radius: 5px;" [(ngModel)]="this.model.SiteId" >
                  <option *ngFor="let option of Sitelist" [value]="option.siteId">{{ option.siteName }}</option>
                </select> 
                </div> 

              <div class="col-md-3">

              <div class="form-floating">
                <input type="email" class="form-control" style="border-radius: 10px;" [(ngModel)]="this.model.Employee_Name" id="floatingInput" placeholder="@">
                <label for="floatingInput">Employee Name</label>
              </div>
              </div>        

              <div class="col-lg-3 col-md-3">

                <div class="form-floating" >
                  <input type="date" class="form-control" style="border-radius: 10px;" [(ngModel)]="this.model.FromDate" id="floatingInput">
                  <label for="floatingInput">FromDate</label>
                </div>
                </div> 
         
        </div>

        <div class="row mt-4" style="border:none;margin-left:auto;">   
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">

                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" style="border-radius: 10px;" [(ngModel)]="this.model.ToDate" id="floatingInput">
                    <label for="floatingInput">ToDate</label>
                  </div>

                </li>
                <li class="breadcrumb-item" >
                  <button type="submit" class="login100-form-btn" (click)="filter()">FILTER</button>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <button type="submit" class="login100-form-btn" (click)="clearfilter()">
                    CLEAR FILTER</button>
                </li>
              </ol>
            </nav>
     
    </div>

          <div class="card" style="font-size:larger;margin: 50px 20px 10px 20px">
            <div>
              <ngx-datatable class="bootstrap" [limit]="20" [rows]="allemployees" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"> 
                  <ngx-datatable-column [width]="100" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" style="font-size: larger;">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div style="text-align: center;display: inline-flex;">

                  <button type="button" class="btn btn-outline-danger" (click)="delete(row)" style="border: 0px;font-size: 8px;" matTooltip="DELETE"
                  matTooltipPosition="below"><i class="material-icons">delete</i><br></button>
                  <!-- <button type="button" class="btn btn-outline-success" (click)="update(row)" style="margin-right: 100%;border: 0px;" matTooltip="UPDATE"
                  matTooltipPosition="below"><i class="material-icons">update</i></button> -->
                  <button type="button" (click)="update(row)" class="btn btn-datatable  crud-icon crud-icon-add btn-outline-success" matTooltip="UPDATE">
                    <span class="fa fa-edit ml-1 font-size-large" style="font-size: larger;"></span>
                </button>
                </div>
               
                </ng-template>
                </ngx-datatable-column>  
                <ngx-datatable-column name="Email" [flexGrow]="3" prop="email">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.email}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="FirstName" prop="firstName" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.firstName}}
                </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="SiteName" prop="siteName">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row?.siteName}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="FullDayLeaves" prop="fullDayLeaves">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.fullDayLeaves}}
                </ng-template>  
            </ngx-datatable-column>
              <ngx-datatable-column name="HalfDayLeaves" prop="halfDayLeaves">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row?.halfDayLeaves}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="activeBit">
                <ng-template let-row="row" ngx-datatable-cell-template>
                   <span *ngIf="row.activeBit==1" style="color:green">Active</span>
                   <span *ngIf="row.activeBit==0" style="color:red"> InActive</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Present/Absent" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 <span *ngIf="row.status=='Absent'" style="color:red">{{row?.status}}</span>
                 <span *ngIf="row.status=='Present'" style="color:green">Present</span>
                 <span *ngIf="row.status==''" style="color:green">Present</span>
                 <span *ngIf="row.status=='Leave'" style="color:rgba(145,40,141,1)">Leave</span>
              </ng-template>
          </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div> 
    </mat-drawer-content>
    </mat-drawer-container>