<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
    <button  mat-icon-button (click)="toggleSidebar()"><mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon></button>
    <!-- <div>
      <button type="button" class="buttons" (click)="ToCompany()" style="border-radius:10px;padding: 0px 30px; height:40px; font-weight: 400; width: auto;" matTooltip="CREATE COMPANY"
      matTooltipPosition="below">Create Company</button> 
</div>  -->
     <div>
                <!-- <a class="btn btn-warning btn-lg">
                     <button (click)="out()">LogOut</button>
                </a> -->
                    <a href="#" class="btn btn-danger btn-lg" (click)="out()">
                      <span class="glyphicon glyphicon-log-out"></span> LOG OUT
                    </a>
    </div> 
    </mat-toolbar-row>
</mat-toolbar>