<mat-drawer-container style="height: 100%;">
<mat-drawer mode="side" [opened]="true" style="background-color: #263238;">
    <app-sidenav></app-sidenav> 
</mat-drawer>   
<mat-drawer-content class="width-control">
    <!-- <app-header (togglesidebarForMe)="sidebartog()"></app-header> -->
 <div class="border-top" style="margin-bottom: 1rem !important;">
 </div>

 <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-3" style="margin-top: 2.5%">
      <div class="btn-group">
        <button  type="button" class="btn btn-navbar crud-icon crud-icon-add-plus" [routerLink]="['/official_holiday']">
     Add Employee Leave
    <span class="fa fa-plus "></span>
</button>
      </div>
      </div>
    </div>
  </div>


<div class="col-md-12" style="margin-left: 10%;width: 80%;font-size: larger;">
    <div style="width: 100%">
      <ngx-datatable class="bootstrap" [limit]="40" [rows]="LeaveList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"> 
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" style="font-size: larger;">
        </ngx-datatable-column>  
        <ngx-datatable-column name="FirstName" [flexGrow]="2" prop="firstName" >
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.firstName}}
          </ng-template>
      </ngx-datatable-column>
           <ngx-datatable-column name="From Date" prop="fromDate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.fromDate | date:'fullDate'}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="To Date" prop="toDate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row?.toDate | date:'fullDate'}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" [flexGrow]="2" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
               <span style="color:green;">   {{row?.status}}</span>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</mat-drawer-content>
</mat-drawer-container> 


