<mat-drawer-container style="height: 100%;">
    <mat-drawer mode="side" [opened]="true" style="background-color: #100C08;" >
      <app-sidenav></app-sidenav>
    </mat-drawer> 
   <mat-drawer-content>
  
  
    <div class="d-flex align-items-center  justify-content-between " style="height: 100vh;padding: 10;background-color: whitesmoke;">
      <div class=" d-flex flex-column justify-content-center gap-2"  style="margin-left: 60px;padding: 0 40px 0;"> 
        <img src="./assets/img/auszogo.png" class="img-fluid"
       style="width: 200px;height: auto;">
       <h2 style="width:450px;font-weight: normal;font-size: 25px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif">
        Submit office Holiday and enjoy vacations</h2>
   </div>
      <div class="border d-flex flex-column gap-3 p-3 card" style="height: auto; width: 500px; background-color: white;border-radius: 10px;">
       <h2 style="font-weight: 700;text-align: center;" >Add Office Holiday</h2>
       <div>
              <div class="form-floating">
                <input type="date" class="form-control"
                  style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                  [(ngModel)]="this.model.FromDate" id="floatingInput">
                <label for="floatingInput">FromDate</label>
              </div>

       </div>
   
           <div>
            <div class="form-floating">
              <input type="date" class="form-control"
                style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                [(ngModel)]="this.model.ToDate" id="floatingInput">
              <label for="floatingInput">ToDate</label>
            </div>
           </div> 

           <div class="">
   
            <div class="form-floating" >
                <input class="form-control" style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                 [(ngModel)]="this.model.HolidayName" rows="2" />
              <label for="floatingInput">Holiday Name</label>
            </div>
            </div> 
   
           <div class="">
   
             <div class="form-floating" >
                 <textarea class="form-control" style="border:none; box-shadow: none; border-radius:0px ;  border-bottom: 1px solid #ccc;"
                [(ngModel)]="this.model.Description" rows="2" ></textarea>
               <label for="floatingInput">Description</label>
             </div>
             </div> 
   
             <button class="btn btn-success" (click)="add()" *ngIf="buttonvalue == 0"> Add Holiday</button> 
             <button class="btn btn-success" (click)="add()" *ngIf="buttonvalue != 0"> Update Holiday</button> 
     </div>
     </div>
     
  
   </mat-drawer-content>
  </mat-drawer-container>