@media (min-width: 1200px){
    .col-xl-5{
        flex: 0 0 auto;
        width: 25%;
    }
}

mat-drawer{
    width: 200px;
    background: #0f172a;
}

mat-drawer-container{
    height: 100%;
}

.crud-icon-add-plus:hover {
    color: rgba(145,40,141,1) !important;
    background-color: white !important;
}

.crud-icon {
    font-size: 16px !important;
    padding: 7px 8px !important;
    cursor: pointer;
    font-weight: bold !important;
}


.crud-icon-add {
    color: #3ABDAA !important;
}

.btn-datatable {
    border: none !important;
    background: transparent !important;
}
.ee{
    position: absolute;
    left: 0px;
    z-index: 999;
}


.mrttop30{
    margin-top: 30px;
}


@media (min-width: 1600px) {
    .mat-drawer {
      width: 13%; /* Increase margin-right for larger screens */
    }
}
  
@media (max-width: 1600px) and (min-width: 1300px) {
    .mat-drawer {
      width: 15%; /* Increase margin-right for larger screens */
    }
}
  
@media (max-width: 1300px) and (min-width: 1000px) {
    .mat-drawer {
      width: 16%; /* Increase margin-right for larger screens */
    }
}



